@layer discern.components {
  .discern-choice--radio .discern-choice__control {
    border-radius: 50%;
  }
  .discern-choice--radio .discern-choice__control > span {
    inline-size: 7px;
    block-size: 7px;
    border: 0;
    border-radius: 50%;
    background: transparent;
    rotate: none;
    translate: none;
  }
  .discern-choice--radio input:checked + .discern-choice__control > span {
    background: white;
  }
}
